<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="sps-customers-system-api">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d [%t] [%X{correlationId}] %c: %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <AsyncLogger name="org.mule.runtime.core.internal.processor.LoggerMessageProcessor" level="INFO"/>
        <AsyncRoot level="INFO">
            <AppenderRef ref="Console"/>
        </AsyncRoot>
    </Loggers>
</Configuration>

